header ul{
	list-style-type: none;
	position: absolute;
	right: 0px;
	float: right;
	margin-top: -80px;
	padding-right: 16px;
	line-height: 24px;
	vertical-align: middle;
}

header li {
	display: inline;
	padding: 14px 10px;
}

 header a:link {
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: small;
	color: #666;
}

header a:hover {
	text-decoration: underline;
}

header a:visited {
	color: #666;
}

.nav_pad {
	margin-right: -10px; /* This sets the padding for Gmail and Images links */
}

#options_icon {
	background-image: url("./images/ic_apps_black_24dp_1x.png");
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-bottom: 6px;
	padding-top: 0px;
	margin-right: 14px;
	margin-left: 6px;
}

#signin_button {
	background-color: #4285f4;
	border: 1px solid #4285f4;
	outline: none;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 5px 12px 5px 12px;

}

#signin_button a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

#google_logo {
	height: 92px;
	width: 272px;
}

.content {
	padding-bottom: 35px;
	display: block;
	margin-top: 100px;
}

.search_button {	
	background-color: #f8f8f8;
	outline: none;
	color: #757575;
	text-align: center;
	border-radius: 4px;
	padding: 5px 12px 5px 12px;
	display: inline;
}

.search_button a {
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

.search_button a:link {
	text-decoration: none;
	font-family: arial,sans-serif;
}

.search_button a:hover {
	color: #000;
}

.search_button:hover {
	border: 1px solid #c6c6c6;
}

footer {
	position: fixed;
	bottom: 0;
	border-top: 1px solid #e4e4e4;
	width: 100%;
	line-height: 40px;
    min-width: 980px;
    background: #f2f2f2;
}

footer a:link {
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: small;
	
}

footer a {
	color: #666;
}

#foot_left {
	float: left;
	margin-left: 30px;
}

#foot_right {
	float: right;
	margin-right: 30px;
}

.fleft {
	padding-right: 20px;
}

.fright {
	padding-left: 20px;
}

