header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	float: right;
}

header li {
	display: inline;
	padding: 14px 10px;
}

 header a:link {
	text-decoration: none;
}


footer {
	position: absolute;
	bottom: 0;
}

footer a:link {
	text-decoration: none;
}

#foot_left {
	float: left;
	-moz-appearance;
	-webkit-appearance: none;
}

#foot_right {
	float: right;
	-moz-appearance;
	-webkit-appearance: none;
}

